<div class="form-group">
  <input 
    *ngIf="!isTextArea"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{type}}"
    class="form-control" 
    [formControl]="ngControl.control"
    placeholder="{{label}}">
  <textarea
    *ngIf="isTextArea"
    [class.is-invalid]="ngControl.touched && ngControl.invalid"
    type="{{type}}"
    class="form-control" 
    [formControl]="ngControl.control"
    placeholder="{{label}}"
    rows="6"
  >

  </textarea>
  <div *ngIf="ngControl.control.errors?.required" class="invalid-feedback">
    Please Enter a {{label}}
  </div>
  <div *ngIf="ngControl.control.errors?.minlength" class="invalid-feedback">
    {{label}} must be at least {{ngControl.control.errors.minlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control.errors?.maxlength" class="invalid-feedback">
    {{label}} must be at least {{ngControl.control.errors.maxlength['requiredLength']}}
  </div>
  <div *ngIf="ngControl.control.errors?.strong" class="invalid-feedback">
    Passwords must contain an uppercase letter and a number
  </div>
  <div *ngIf="ngControl.control.errors?.isMatching" class="invalid-feedback">
    Passwords do not match
  </div>
</div>
