
<div class="container bg-light my-3 pt-3 rounded" >
    <div class="row">
      <div class="col-9">
        <form class="form-inline" autocomplete="off">
            <label class="text-primary m-1">Search For:</label>
            <input class="form-control m-1" type="text" name="title" [(ngModel)]="title">
            <button (click)="btnClick()" class="btn btn-info m-1" type="submit">Search</button>
        </form>
      </div>
      <div class="col-3">
        <div class="btn-group">
            <a routerLink="/job/new_post"><button class="btn btn-primary pull-right" > Post job</button></a>
          <button *ngIf="this.member"
            type="button"
            class="btn btn-primary" 
            name="orderBy" 
            (click)="loadJobsByUserId(this.member.id)"
            btnRadio="created">Posted by me</button>
        </div>
      </div>

    </div>
    
    <div class="row">
      <div class="col text-center">
        <p>{{jobs?.length}} results found</p>
      </div>

      
    </div>
  </div>




  <div class="d-flex flex-wrap px-3 justify-content-center">
    <div *ngFor="let job of jobs" class="col-2" style="min-width: 187px;">
      <app-job-card [job]="job"></app-job-card>
    </div>
  </div>
  
  <div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination 
      [boundaryLinks]="true" 
      [totalItems]="pagination.totalItems"
      [itemsPerPage]="pagination.itemsPerPage"
      [(ngModel)]="pagination.currentPage"
      (pageChanged)="pageChanged($event)"
      previousText="&lsaquo;" 
      nextText="&rsaquo;" 
      firstText="&laquo;" 
      lastText="&raquo;">
    </pagination>
  </div>