<div class="row">
    <div class="col-md-4 mb-3 mb-md-0">
        <div class="card">
            <img src="{{member?.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
                class="card-img-top img-thumbnail">
            <div class="card-body bg-light p-3">
                <div>
                    <strong>Location:</strong>
                    <p>{{member?.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{member?.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{member?.lastActive | timeago}}</p>
                </div>
                <div>
                    <strong>Member since:</strong>
                    <p>{{member?.created | date: 'dd MMMM yyyy'}}</p>
                </div>
                <div class="card-footer rounded">
                    <div class="btn-group d-flex glass-container">
                        <button class="btn btn-primary">Like</button>
                        <button (click)="selectTab(3)" class="btn btn-info">Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 glass-container p-2 mb-3 mb-md-0">
        <tabset class="member-tabset" #memberTabs>
            <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                <div class="container">
                    <h4>Description</h4>
                <p>{{member.introduction}}</p>
                <h4>Looking for</h4>
                <p>{{member.lookingFor}}</p>
                </div>
            </tab>
            <tab heading="Intrests" (selectTab)="onTabActivated($event)">
                <div class="container rounded">
                    <h4>Interests</h4>
                <p>{{member.interests}}</p>
                </div>
            </tab>
            <tab heading="Photos" (selectTab)="onTabActivated($event)">
                <div class="container rounded">
                    <h4>Photos</h4>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;"></ngx-gallery>
                </div>
            </tab>
            <tab heading="Messages" (selectTab)="onTabActivated($event)">
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>