<div class="container mt-5 home">
  <div *ngIf="!registerMode" style="text-align: center;">
    <h1>Discover What's Possible</h1>
    <p class="lead">Find your next musical collab . . . Your new journey begins with just a sign up!</p>
    <div class="text-center">
      <button routerLink="/learn-more" class="btn btn-secondary" style="margin-right:10px;">Register</button>

    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div>
        <app-register (cancelRegister)="cancelRegisterMode($event)" ></app-register>
      </div>
    </div>
  </div>
</div>