
  .img-thumbnail {
    margin: 25px;
    width: 18%;
    height: 15%;
}

  
  .card-body {
    padding: 0 25px;
  }
  
  .card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
  }

  .mycol {
    color: black;
  }

  