<div class="container mt-3 bg-light my-3 pt-3 rounded">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="form-group">
      <label class="text-primary">Age from: </label>
      <input type="number" class="form-control ml-1" style="width: 5.5rem;" 
        name="minAge" [(ngModel)]="userParams.minAge">
    </div>
    <div class="form-group px-2">
      <label class="text-primary">Age from: </label>
      <input type="number" class="form-control ml-1" style="width: 5.5rem;" 
        name="maxAge" [(ngModel)]="userParams.maxAge">
    </div>
    <div class="form-group px-2">
      <label class="text-primary">Show: </label>
      <select name="gender" style="width: 5.5rem;" [(ngModel)]="userParams.gender" class="form-control ml-1">
        <option *ngFor="let gender of genderList" [value]="gender.item_text.toLowerCase()">
          {{gender.item_text}}
        </option>
      </select>
    </div>

    <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>

    <div class="col">
      <div class="btn-group float-right">
        <button 
          type="button"
          class="btn btn-primary" 
          name="orderBy" 
          [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()"
          btnRadio="lastActive">Last Active</button>
  
        <button 
          type="button"
          class="btn btn-primary" 
          name="orderBy" 
          [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()"
          btnRadio="created"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
  <div class="row text-center">
          <p>{{pagination?.totalItems}} results found</p>
        </div>
</div>

<div class="d-flex flex-wrap px-3 justify-content-center">
  <div *ngFor="let member of members" class="col-2" style="min-width: 187px;">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
  </pagination>
</div>