<div class="container mt-3 bg-light my-3 pt-3 rounded">
  <form #form="ngForm" class="form-inline mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
    
    <div class="form-group px-2">
        <div class="col">
            <div class="row mb-2">
                <input class="form-control mr-2" [(ngModel)]="userParams.skill" name="skill"  placeholder="Skill">
                <input class="form-control mr-2" [(ngModel)]="userParams.genre" name="genre"  placeholder="Genre">
                <input class="form-control mr-2" [(ngModel)]="userParams.provinceOrState" name="provinceOrState"  placeholder="Province">
            </div>
            <div class="row">
                <input class="form-control mr-2" [(ngModel)]="userParams.occupation" name="occupation"  placeholder="Occupation">
                <input class="form-control mr-2" [(ngModel)]="userParams.country" name="country"  placeholder="Country">
                <input class="form-control mr-2" [(ngModel)]="userParams.city" name="city"  placeholder="City">
                
            </div>
        </div>
    </div>


    <button class="btn btn-primary ml-1" type="submit">Apply Filters</button>
    <button (click)="resetFilters()" class="btn btn-info ml-1" type="submit">Reset Filters</button>


    <div class="col">
      <div class="row btn-group float-right">
        <button 
          type="button"
          class="btn btn-primary" 
          name="orderBy" 
          [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()"
          btnRadio="lastActive">Last Active</button>
  
        <button 
          type="button"
          class="btn btn-primary" 
          name="orderBy" 
          [(ngModel)]="userParams.orderBy"
          (click)="loadMembers()"
          btnRadio="created"
        >
          Newest Members
        </button>
      </div>
    </div>
  </form>
  <div class="row text-center">
          <p>{{pagination?.totalItems}} results found</p>
        </div>
</div>

<div class="d-flex flex-wrap px-3 justify-content-center">
  <div *ngFor="let member of members" class="col-2" style="min-width: 187px;">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination 
    [boundaryLinks]="true" 
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" 
    nextText="&rsaquo;" 
    firstText="&laquo;" 
    lastText="&raquo;">
  </pagination>
</div>